body{
    background: #f5eee9;
    font-family: "Helvetica Neue", Helvetica, fantasy;
    font-size:16px;
}
header{
    position: page;
}
#banner{
    max-width:100%;
    height: 100%;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #FFF;
    position: relative;
}
div.sticky{
    position: fixed;
    width: 100%;
}

.list-item{
    max-width: 15%;
    float: left;
    background-color: #e1cec0;
    border-radius: 3px;
}
.main-mid{
    width: 64.985%;
    float: right;
    padding: 0 10px;
}

.shop-content{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,auto));
    gap:1.5rem;
    text-align: center;
}

.product-box{
    float: left;
}
.left {
    padding: 10px 16px;
    background: #f3e3d6;
    color: black;
    border-radius:4px;
    width: 60%;
    float: left;
}
.right{
    position: fixed;
    padding: 10px 16px;
    background: #f3e3d6;
    color: black;
    border-radius:4px;
    width: 20%;
    right:1%;
}

#plus-button{
    border-radius:7px;
    background: #f5eee9

}
.category{
    background: #e4ded9;
    text-align: center;
    padding: 10px 16px;
    font-size: 20px;
    position: page;
}
