body {
    background: #f5eee9;
    font-family: "Helvetica Neue", Helvetica, fantasy;
    font-size: 16px;
}

header {
    position: page;
}

html {
    scroll-behavior: smooth;
}

button.delete-button {
    float: right;
    border-color: #f5eee9;
    border-radius: 3px;
    color: #584c4c
}

#banner {
    max-width: 100%;
    height: 100%;
    color: #FFF;
}

.main-menu {
    display: flex;
}

.main-mid {
    width: 90%;
    float: right;
    padding: 10px 10px;
    border-radius: 15px;
    background: #f3e3d6;
}

.shop-content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, auto));
    gap: 1.5rem;
    text-align: center;
}

.product-box {
    float: left;
}

.left {
    padding: 10px 16px;
    background: #f5eee9;
    color: black;
    border-radius: 4px;
    width: 75%;
    float: left;
    margin-inside: 2px;
}

.right {
    margin-top: 11px;
    padding: 10px 16px;
    background: #f5eee9;
    color: #584c4c;
    border-radius: 15px;
    max-width: 20%;
    left: 78%;
    font-size: 14px;
}

#plus-button {
    border-radius: 7px;
    background: #f5eee9

}

.category {
    background: #e4ded9;
    text-align: center;
    padding: 10px 16px;
    font-size: 20px;
    position: page;
    border-radius: 30px;
}

.category-location {
    background: #e4ded9;
    text-align: center;
    padding: 10px 16px;
    font-size: 14px;
    position: page;
    border-radius: 30px;
    margin-bottom: 9px;
    text-transform: uppercase;
    color: #584c4c;
    border: 1px;
    width: 15%;
}

.payment-button {
    margin-top: 10px;
    text-align: center;
    padding: 10px 16px;
    border-radius: 30px;
    text-transform: uppercase;
    color: #584c4c;
}

.txt-margin{
    margin-top:6px;
}

.quantity-box {
    width: 30px;
    border: none;
    background: #f5eee9;
}